# Practise: Self Challenged

### Challenge : 

1. My self challenge is to create a DataFrame of first 20 Elements Electonic Configrature while distributing the electrons in K, L, M, N shell, all shell has several energy level
2. In the second part of the challenge try to make this dataframe with just Programming not to write already the data
3. The challeng is inspired from the 9th Class Chemistry's Chapter Structures of Atoms NCERT Book
4. Run few fuctions().
- Pack the data in csv / Exel file
- Run statistics methods
- Info
- Falana Falana

In [1]:
import numpy as np
import pandas as pd

In [2]:
elements = np.array(
    ["H", "He", "Li", "Be", "B", "C", "N", "O", "F", "Ne",
    "Na", "Mg", "Al", "Si", "P", "S", "Cl", "Ar", "K", "Ca"],
    dtype=np.str_
)

In [3]:
df = pd.DataFrame(index=elements, columns=[f"{_} Shell" for _ in "KLMN"], dtype=np.int32)
shell_capacity = [2*_**2 for _ in range(1, 7)]

In [4]:
for electons in range(1, 21):
    atomic_no = electons
    row = []
    for shell in shell_capacity:
        if electons == 0:
            break
        if electons >= shell:
            row.append(shell)
            electons -= shell
        elif electons < shell and electons >= 8:
            electons -= 8
            row.append(8)
        elif electons < shell and electons < 8:
            row.append(electons)
            electons -= electons
            
    perfect_row = np.zeros(4, dtype=np.int32)
    rows_lenght = len(row)
    for _ in range(4):
        if _ <= rows_lenght-1:
            perfect_row[_] = row[_]
        
    df.iloc[atomic_no-1] = perfect_row

In [5]:
df

    K Shell  L Shell  M Shell  N Shell
H       1.0      0.0      0.0      0.0
He      2.0      0.0      0.0      0.0
Li      2.0      1.0      0.0      0.0
Be      2.0      2.0      0.0      0.0
B       2.0      3.0      0.0      0.0
C       2.0      4.0      0.0      0.0
N       2.0      5.0      0.0      0.0
O       2.0      6.0      0.0      0.0
F       2.0      7.0      0.0      0.0
Ne      2.0      8.0      0.0      0.0
Na      2.0      8.0      1.0      0.0
Mg      2.0      8.0      2.0      0.0
Al      2.0      8.0      3.0      0.0
Si      2.0      8.0      4.0      0.0
P       2.0      8.0      5.0      0.0
S       2.0      8.0      6.0      0.0
Cl      2.0      8.0      7.0      0.0
Ar      2.0      8.0      8.0      0.0
K       2.0      8.0      8.0      1.0
Ca      2.0      8.0      8.0      2.0

In [6]:
df.to_csv("Electronic_Configuration.csv")

In [7]:
df.mean()

K Shell    1.95
L Shell    5.80
M Shell    2.60
N Shell    0.15
dtype: float64

In [8]:
df.mode()

   K Shell  L Shell  M Shell  N Shell
0      2.0      8.0      0.0      0.0

In [9]:
df.median()

K Shell    2.0
L Shell    8.0
M Shell    0.5
N Shell    0.0
dtype: float64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, H to Ca
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   K Shell  20 non-null     float64
 1   L Shell  20 non-null     float64
 2   M Shell  20 non-null     float64
 3   N Shell  20 non-null     float64
dtypes: float64(4)
memory usage: 800.0+ bytes